*{
    margin: 0px;
}
header{
    background-image: url('../img/header.jpg');
    /*background repeat, backgrpund no repeat*/
    width: 100%;
    height: 150px;
    display: flex;
    justify-content: center;
    position: fixed;
    opacity: ;
}
body{
    overflow: hidden;
}
nav{
    position: fixed;
    top: 150px;
}
nav ol li{
    background-color: gray;
    /* margin: 5px; */
    display: inline; /*permite poner el menu en linea horizontal y eliminar los numeros o viñetas*/
    padding: 15px;
    margin: 5px -2px;
    opacity: 1;

}
nav ol li:hover{
    background-color: gray;
    /* margin: 5px; */
    display: inline; /*permite poner el menu en linea horizontal y eliminar los numeros o viñetas*/
    padding: 15px;
    margin: 5px -2px;
    opacity: 0.5;

}
nav ol li a{
    text-decoration: none;
    color: black;
}
h1{
    background-color: rgba(255, 255, 255, 0.541);
    height: 50px;
    padding: 20px;

}
article{
    background: linear-gradient(grey, pink);
    width: 100%;
    height: 700px;
    padding-top: 200px;
}
article h2{
    text-align: center;
}
footer{ /*El footer siempre es in block por defecto, si configuramos position en absoluto se convierte a in line*/
    background-color: grey;
    color: white;
    position: fixed;
    bottom: 0px;
    width: 100%;
    text-align: center;
    padding: 15px 0px;
}